.App {
  text-align: center;
  overflow: hidden;
}

a:hover {
  color: rgb(0, 0, 0);
} 

.popUpContainer{
  width: 12rem;
  height: 3rem;
  border-radius: 10px;
  align-self:center;
  background-color: #23d61277;
  transition: ease 0.3s;
 
}

.noPopUpContainer{
  width: 12rem;
  height: 3rem;
  border-radius: 10px;
  align-self:center;
  background-color: #23d61277;
  opacity: 0;
  transition: ease 0.3s;
 
}

.fadeOutTest{
opacity: 0; 
transition: ease 0.3s; 
}

.fadeInTest{
opacity: 1;  
transition: ease 0.3s;
}

#space-invader {
  box-shadow: 0 0 0 1em black,
  0 1em 0 1em black,
  -2.5em 1.5em 0 .5em black,
  2.5em 1.5em 0 .5em black,
  -3em -3em 0 0 black,
  3em -3em 0 0 black,
  -2em -2em 0 0 black,
  2em -2em 0 0 black,
  -3em -1em 0 0 black,
  -2em -1em 0 0 black,
  2em -1em 0 0 black,
  3em -1em 0 0 black,
  -4em 0 0 0 black,
  -3em 0 0 0 black,
  3em 0 0 0 black,
  4em 0 0 0 black,
  -5em 1em 0 0 black,
  -4em 1em 0 0 black,
  4em 1em 0 0 black,
  5em 1em 0 0 black,
  -5em 2em 0 0 black,
  5em 2em 0 0 black,
  -3em 3em 0 0 black,
  3em 3em 0 0 black,
  5em 3em 0 0 black,
  -2em 4em 0 0 black,
  -1em 4em 0 0 black,
  1em 4em 0 0 black,
  2em 4em 0 0 black;
  background: black;
  width: 1em;
  height: 1em;
  overflow: hidden;
  margin: 50px 0 70px 65px;
}

#space-invader-green {
  box-shadow: 0 0 0 1em #41b883,
  0 1em 0 1em #41b883,
  -2.5em 1.5em 0 .5em #41b883,
  2.5em 1.5em 0 .5em#41b883,
  -3em -3em 0 0 #41b883,
  3em -3em 0 0 #41b883,
  -2em -2em 0 0 #41b883,
  2em -2em 0 0 #41b883,
  -3em -1em 0 #41b883,
  -2em -1em 0 0 #41b883,
  2em -1em 0 0 #41b883,
  3em -1em 0 0 #41b883,
  -4em 0 0 0 #41b883,
  -3em 0 0 0 #41b883,
  3em 0 0 0 #41b883,
  4em 0 0 0 #41b883,
  -5em 1em 0 0 #41b883,
  -4em 1em 0 0 #41b883,
  4em 1em 0 0 #41b883,
  5em 1em 0 0 #41b883,
  -5em 2em 0 0 #41b883,
  5em 2em 0 0 #41b883,
  -3em 3em 0 0 #41b883,
  3em 3em 0 0 #41b883,
  5em 3em 0 0 #41b883,
  -2em 4em 0 0 #41b883,
  -1em 4em 0 0 #41b883,
  1em 4em 0 0 #41b883,
  2em 4em 0 0 #41b883;
  background: #41b883;
  width: 1em;
  height: 1em;
  overflow: hidden;
  margin: 50px 0 70px 65px;
}



#about{
  background-color:whitesmoke;
}

#work:hover{
  background-position: center;
  background-size: cover;
  transition: transform ease 0.3s;
}

.info-color:hover {
  transition: ease-in-out 500ms;
  opacity: 1;
}

.info-color:hover {
  transition: ease-in-out 1300ms;
  background-color: #0a1b13;
  color: white;
  background-size: cover;
}



.fadeImg {
  background-color: "white";
    text-align: "center";
    border-width: "1px";
    width: "18rem";
    height: "60vh";
    z-index: "-2";
    border-radius: "10px";
    position: "absolute";
    background-position: '50% top';
    background-repeat: 'no-repeat';
    background-attachment: 'scroll';
    background-size: '70% auto';
}

.fadeImg:hover {
 transition: ease-in-out 500ms;
 opacity: 0;
 background-color: "white";
 text-align: "center";
 border-width: "1px";
 width: "18rem";
 height: "60vh";
 z-index: "-2";
 border-radius: "10px";
 position: "absolute";
 background-position: '50% top';
 background-repeat: 'no-repeat';
 background-attachment: 'scroll';
 background-size: '70% auto';
}
.zoomOut {
  width: 40rem; 
  height: 30rem;
  overflow: hidden;
  position: relative;
  background-color: black;
}

.zoomIn {
  width: auto;
  height: 100%;
  background-image: url("./assets/images/studio-pic.jpg");
  background-position: center;
  background-size: cover;
  transition: transform ease 0.3s;
  opacity: .4;
 
}
.zoomIn:hover {
  transform: scale(1.2);
}

.zoomOutB {
  width: 40rem; 
  height: 30rem;
  overflow: hidden;
  position: relative;
  background-color: black;
}

.zoomInB {
  width: auto;
  height: 100%;
  background-image: url("./assets/images/blkbus.jpg");
  background-position: center;
  background-size: cover;
  transition: transform ease 0.3s;
  opacity: .4;
}
.zoomInB:hover {
  transform: scale(1.2);
}


.noInit{
  
  transition: ease-in-out 300ms;
  border-radius:"3rem";

  
}

.initPic{
transition: ease-in-out 500ms;
opacity: 1;
background-color: "#41b883C4";

}

.initPic:hover{
opacity: 1;

}

.noInfoCardType{
  display: flex;
opacity: 0;
background-color: "#41b883C4";
justify-content: center;

}

.infoCardType {

  opacity: 0;
  
  
}

.infoCardType:hover{
  opacity: 1;
  
}



.bgImg:hover {
  opacity: 0.3;
  transition: ease-in-out 300ms;
  background-color: #41b883;
}
.prevCardImage {
opacity: 0.3;

  transition: ease-in-out 500ms;
} 


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.form-links {
  text-decoration: none;
  color: black;
  lighting-color: black;
  font-size: 16px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}






 @media (prefers-reduced-motion: no-preference) {

}


@media only screen and (max-width: 1200px) {
  .formTopType{
    display:none;
  }
}

@media screen and (max-width: 627px){



p{
  padding: 10rem;

}

h3{
  padding:10rem;
 
}

}